.filterContainer {
  display: grid;
  grid-template-columns: 40% 30% 30%;
  border: 1px solid var(--lightGray);
  border-radius: 10px;
  margin-bottom: 5%;
  background-color: var(--white);
}

.filterContainer [class~="ms-TextField-prefix"] {
  background: unset;
}

.filterOption {
  border-right: 1px solid var(--lightGray);
}

.filterOption,
.searchButtonContainer {
  padding: 20px;
}

.searchButtonContainer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
