.headerCard {
  border-radius: 10px;
  display: flex;
  align-items: center;
  width: 50%;
  margin: 0 25%;
  z-index: 2;
  position: absolute;
}

.headerCard .companyInfo {
  display: flex;
  justify-content: space-between;
  padding-left: 3%;
  padding-right: 3%;
  width: 100%;
  align-items: center;
}

.logoContainer img {
  height: 125px;
  width: 125px;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
}

.companyInfo .companyName {
  font-weight: bold;
  padding: 2%;
}

.companyInfo .companyWebsite {
  font-size: 0.8rem;
  color: gray;
  font-weight: lighter;
  padding: 2%;
  display: flex;
  align-items: center;
}

.companyMeta {
  width: 70%;
}

.companyWebsiteButton {
  width: 30%;
  display: flex;
  justify-content: flex-end;
}

.companyWebsiteButton button,
.companyWebsiteButton button:hover {
  background-color: var(--lightGray);
  color: var(--purple);
  border: none;
}

@media only screen and (max-width: 640px) {
  .mobileHeaderCard {
    height: 145px;
    left: 8%;
    right: 8%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    border-radius: 5px;
    position: absolute;
    z-index: 2;
  }
  .mobileHeaderCardImg {
    position: absolute;
    left: 43%;
    top: -15px;
    background-color: var(--white);
    height: 40px;
    width: 40px;
    border-radius: 30%;
  }
  .mobileHeaderCardImg img {
    height: 40px;
    width: 40px;
    object-fit: cover;
    border-radius: 30%;
  }

  .mobileJobTitle {
    font-weight: bold;
    padding: 1% 2%;
    text-align: center;
  }
  .mobileJobMeta {
    font-size: 0.8rem;
    color: gray;
    font-weight: lighter;
    padding: 2%;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .companyWebsiteButton {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 4%;
  }

  .companyWebsiteButton button,
  .companyWebsiteButton button:hover {
    background-color: var(--lightGray);
    color: var(--purple);
    border: none;
  }
}
