.jobDescription {
  margin-top: 10%;
  margin-left: 25%;
  margin-right: 25%;
  padding: 3%;
  border-radius: 10px;
}

.jobDescription .jobMetaData {
  font-size: 0.8rem;
  color: gray;
  font-weight: lighter;
  padding: 0.5% 2%;
  display: flex;
  align-items: center;
}

.jobDescription .jobMetaDataSeperator {
  margin-top: 2px;
  margin-left: 5px;
  margin-right: 5px;
}

.jobDescription .jobTitle {
  font-weight: bold;
  color: var(--lightBlue);
  padding: 0.5% 2%;
  font-size: x-large;
}
.jobDescription .jobLocation {
  font-size: 0.8rem;
  font-weight: bold;
  color: var(--purple);
  padding: 0.5% 2%;
}

.jobDescription .jobInfoSection {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jobDescriptionContent,
.jobDescriptionContentDark {
  padding: 2%;
}

.jobDescriptionContent p,
.jobDescriptionContent ul,
.jobDescriptionContent ol,
.jobDescriptionContentDark p,
.jobDescriptionContentDark ul,
.jobDescriptionContentDark ol {
  color: gray;
}

.jobDescriptionContent ul,
.jobDescriptionContent ol,
.jobDescriptionContentDark ul,
.jobDescriptionContentDark ol {
  list-style: none;
}

.jobDescriptionContent ul li::before,
.jobDescriptionContent ol li::before,
.jobDescriptionContentDark ul li::before,
.jobDescriptionContentDark ol li::before {
  content: "\2022";
  color: var(--purple);
  font-weight: bold;
  display: inline-block;
  width: 1em;
  margin-left: -1em;
}

.jobDescriptionContent h2 {
  color: var(--lightBlue);
}

.jobDescriptionContentDark h2 {
  color: var(--white);
}

.jobDescriptionContent a {
  color: var(--purple);
}

.jobDescriptionContentDark a {
  color: var(--white);
}

.jobInfoCompanyLink {
  width: 20%;
}

@media only screen and (max-width: 640px) {
  .jobDescription {
    margin-top: 40%;
    margin-left: 8%;
    margin-right: 8%;
  }
  .jobDescription .jobInfoSection {
    display: grid;
    grid-template-columns: 100%;
    align-items: center;
    grid-row-gap: 20px;
  }
  .jobDescription .jobTitle {
    width: unset;
  }
  .jobInfoCompanyLink {
    width: 100%;
  }
  .jobInfoCompanyLink button {
    width: 100%;
  }
}
