.detailFooter {
  padding: 2% 20%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.jobMetaData {
  font-size: 0.8rem;
  color: gray;
  font-weight: lighter;
  padding: 2%;
  display: flex;
  align-items: center;
}

.jobTitle {
  font-weight: bold;
  color: var(--lightBlue);
  padding: 1% 2%;
  width: 70%;
}
