.homeContainer {
  position: relative;
  outline: none;
}

.jobSearchFilter {
  position: absolute;
  top: 70px;
  left: 8%;
  right: 8%;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
  z-index: 2;
}

.jobsContainer {
  padding-top: 170px;
  padding-left: 8%;
  padding-right: 8%;
}

@media only screen and (max-width: 640px) {
  .jobsContainer {
    padding-top: 156px;
    padding-left: 8%;
    padding-right: 8%;
  }
  .jobSearchFilter {
    position: fixed;
    top: unset;
    bottom: 60px;
  }
  .homeContainer {
    position: unset;
  }
}
